.DrinkInfoContainerDiv .infoimg {
  width: 40%;
}





.DrinkInfoContainerDiv .details {
  border-top: solid 4px rgb(247, 245, 245);
  margin: 0px;
}
.DrinkInfoContainerDiv .labeldetails {
  margin-top: 4%;
  margin-left: 1%;
  color: rgb(223, 63, 63);
}
.DrinkInfoContainerDiv .labeldescription {
  margin-top: 4%;
  margin-left: 1%;
  color: rgb(83, 83, 83);
}
.DrinkInfoContainerDiv .details .top {
  border-top: solid 4px rgb(247, 245, 245);
}
.DrinkInfoContainerDiv .details .dl-details {
  display: flex;
  margin: 0px;

  border-bottom: solid 4px rgb(247, 245, 245);
}
.DrinkInfoContainerDiv .details .dl-details dt {
  margin: 0px;
  width: 35%;
  padding: 1% 2% 1% 2%;
  background-color: rgb(247, 245, 245);
}
.DrinkInfoContainerDiv .details .dd-details {
  margin-left: 4%;
}
